!! Colorscheme

! special

*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6

!! URxvt

! Appearance

URxvt.background: [90]#1d1f21

URxvt.depth: 32

URxvt.font:xft:Ubuntu Mono:size=12,xft:UbuntuMono Nerd Font Mono:size=12,xft:DejaVu Sans:pixelsize=12
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.saveLines: 2048
URxvt.scrollBar: false
URxvt.urgentOnBell: true


! Keybinds
URxvt.heysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

! "Number of lines" Set from: Default
rofi.lines:                          5
! "Number of columns" Set from: Default
rofi.columns:                        1
! "Font to use" Set from: Default
rofi.font:                           Ubuntu Regular 18
! "Border width" Set from: Default
rofi.bw:                             0
! "Location on screen" Set from: Default
! rofi.location:                       0
! "Padding" Set from: Default
! rofi.padding:                        5
! "Row height (in chars)" Set from: Default
rofi.eh:                             2
! "Fullscreen" Set from: Default
! rofi.fullscreen:                     false
! "Color scheme for normal row" BG FG BGALT HLBG HLFG
rofi.color-normal:                   #2f343f,#f3f4f5,#2f343f,#2f343f,#9575cd
! "Color scheme for urgent row" Set from: Default
! rofi.color-urgent:                   
! "Color scheme for active row" Set from: Default
! rofi.color-active:                   
! "Color scheme window" Set from: Default
rofi.color-window:                   #2f343f,#f3f4f5,#2f343f,#2f343f,#9575cd
